

<div class="container" >
    <h1>Dublin</h1>
    
    
    
    <!--Counties-->
    <div class= "counties">
        <h4>Dublin Restaurants</h4>
        <hr class="style">
        
        
            <div *ngFor="let s of summaries">
        <osl-summary [summary]= "s"></osl-summary>
        
        </div>
        
        
        <!--
            <a routerLink="/restaurants/monto">Monto Cafe</a>
                    
        <a routerLink="/restaurants/banyi">Banyi Japanese Dining</a>
             
          
        <a routerLink="/restaurants/bach16">Bach 16</a>   
        -->
     </div>  
    

    
        
     </div>
<br>
<br>
<br>

