

<div class="container" >
    <h1>Banyi Japanese Dining</h1>
    <h4>4 Bedford Row, City Centre South, Dublin</h4>
    <h5>Dublin 1</h5>
    
        <!--Counties-->
    <div class= "image">
        
       <img src="../../../../images/1.jpg" style="width:450px" alt="Logo">
     
     </div>  
    <br><br>
      
   
<!--Search Restautans-->
     <div class= "hours">
        <h5>Opening Hours</h5>
		 <hr class="style">
		 <ul>
			 <li>Monday    9am - 5pm</li>
			 <li>Tuesday   9am - 5pm</li>
			 <li>Friday    9am - 5pm</li>
			 <li>Thursday  9am - 5pm</li>
			 <li>Friday    9am - 5pm</li>
		 </ul>
        
         
      


     </div>
    
  <!--Search Cousines-->  
     <div class= "about">
        <h4>About Banyi Japanese Dining</h4>
        <hr class="style">
       <h5>Childhood friends, Edward Smith and Caroline Barry always dreamed of owning a wine bar. Their passion for fine wine and great coffee is shared by Leeann King, who they befriended in recent years, a ménage a trois’ that resulted in the opening of Bach 16 Wine & Bistro Limited on Dublin’s Bachelor’s Walk, in December of 2013.</h5>
         
         <h5>Both Caroline and Leeann worked together for years as managers in the leisure industry. When Edward, who owns Suburbia Magazine came to them with the idea of Bach 16, having learned that an advertiser with Suburbia who resided at 16 bachelor’s walk had moved on and the premises was available to let, the girls jumped at the idea of making their dream a reality.</h5>
        
        <h5>The name Bach 16 didn’t come easy. The three friends mulled over numerous suggestions from family and friends before Bach 16 , which other than the obvious origins of the name, the address ’16 Bachelor’s Walk’ Bach 16 is also a play on Sebastian Bach’s sixteenth Symphony and that there are notes in music and in wine…</h5>
        
     </div>
	
	<div class = "menu">
		<h4>Menu</h4>
		<hr class="style">
		<table style="width:100%">
		  <tr>
			<th>Item</th>
			<th>Price</th> 
		  </tr>
		  <tr>
			<td>Creamy Mushrooms in a white wine sauce & crispy bread</td>
			<td>€8.00</td> 
		  </tr>
		  <tr>
			<td>Sizzling Prawn & Chorizo in garlic and chilli oil</td>
			<td>€9.50</td> 
		  </tr>
		<tr>
			<td>Hummus with crispy bread</td>
			<td>€9.00</td> 
		  </tr>
			<tr>
			<td>Italian pate</td>
			<td>€10.50</td> 
		  </tr>
			<tr>
			<td>Salad</td>
			<td>€4.50</td> 
		  </tr>
			<tr>
			<td>Margarita</td>
			<td>€11.50</td> 
		  </tr>
		</table>
		
	</div>
	
	    	<div class = "review">
		<h4>Review</h4>
		<hr class="style">
		
            
            <ul class="nav">
            <li style="float:right" ><input type = "text" class = "form-control" placeholder = "Write a review">
            <button type = "submit" style="float:right" width="2px" class = "button">Submit</button> </li>  
            </ul>

	</div>
<br>
<br>
<br>

